.header {
  text-align: center;
  margin: 2rem;
}

.installmentContainer {
  /* border: 1px solid lightgray; */
  background-color: aliceblue;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  margin: 0.5rem;
}

.installmentValues {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  font-weight: 200;
}

.installmentIndex {
  text-align: center;
  color: white;
  font-weight: 200;
  padding: 0.2rem;
  width: 1.5rem;
  border-radius: 0.5rem 0 0 0.5rem;
}
